<mat-toolbar color="primary">
    <mat-toolbar-row><span>DCIT Scheduler</span></mat-toolbar-row>
    <mat-toolbar-row><h2 style="margin:auto">Assessments</h2></mat-toolbar-row>
    <mat-toolbar-row><span>Welcome</span></mat-toolbar-row>
</mat-toolbar>
  
  <main>
    

    <div class="col m2">
     <table id="menu" >
        <tr class="menu-button">
        <span><a href="/schedule">Calendar</a></span>
        </tr>
        <tr class="menu-button" id="current">
        <span><a href="/assessments">Assessments</a></span>
        </tr>
        <tr class="menu-button">
        <span><a href="/dashboard">Dashboard</a></span>
        </tr>
    </table>
    </div>

    <div class="col m8">
        <mat-card id="calendar">
  
  
        </mat-card>
    </div>

    
  </main>

