main{
    background-color: #E0E0E0;
    min-height: calc(100% - 64px);
    box-sizing: border-box;
}

#create-card{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
    
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

#createBtn{
    position: absolute;
    right: 10px;
}

/* MENU CSS */
mat-sidenav-container{
    width: 15%;
  }
  
mat-card{
    margin:10px;
}

.menu-button{
    width: auto;
    margin-left: auto;
    font-size: larger;
    padding: 12px;
    color: white;
    background-color: royalblue;
    box-shadow: none;
} 

.menu-button:hover{
    background-color: lightskyblue;
}  

#menu{
    height: 100%;
    width: 10%;
    /* background-color: wheat; */
}

#current{
    background-color: lightblue;
    color: black;
}

/* CONTENT CSS */
.content{
    display: inline-flex;
    margin-right: 12px;
    height: 100%;
    float: right;
}