
html, .body {
    margin: 0;
    padding: 0;
    border: none;
    height: max-content;
  } 

main{
    background-color: #E0E0E0;
    /* min-height: calc(100% - 64px); */
    /* box-sizing: border-box; */
    height: 100%;
}

#create-card{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
    
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

#createBtn{
    position: absolute;
    right: 10px;
}
#logout{
    background-color: red;
    color: whitesmoke;

}

#logout:hover{
    background-color: whitesmoke;
    color: red;

}

/* MENU CSS */



mat-sidenav-container{
    width: 14%;
    display: inline-flex;
    min-width: 115px;
  }
  
mat-card{
    margin:10px;
}

.menu-button{
    width: auto;
    margin-left: auto;
    font-size: larger;
    padding: 12px;
    color: white;
    background-color: #3F51B5;
    box-shadow: none;
} 

.menu-button:hover{
    background-color: lightskyblue;
}  

#menu-table{
    background-color: inherit;
    /* width: inherit; */
}

#current{
    background-color: lightblue;
    color: black;
}

/* CONTENT CSS */
/* .content{
    display: inline-flex; 
    width: 85%;
    margin-right: 12px;
    height: 100%;
    float: right;
} */