<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>DCIT Scheduler</span>
        <span style="margin-left: auto; width: 20%;">NotifsImageHere</span>
        <span style="margin-left: auto; width: 20%;">ProfileImageHere</span>
    </mat-toolbar-row>
    <mat-toolbar-row><h2 style="margin:auto">Calendar</h2></mat-toolbar-row>
    <mat-toolbar-row>
        <span>Welcome</span>
        <a href="/" style="margin-left: auto;"> <button mat-raised-button type="submit" color="primary">Logout</button></a>
    </mat-toolbar-row>
</mat-toolbar>
  

<main>
    <mat-sidenav-container id="menu">
        <mat-sidenav mode="side" opened width="20%" ></mat-sidenav>
        <mat-sidenav-content color="primary">
            <table >
                <tr>
                <a href="/schedule"> <button mat-raised-button type="submit" class="menu-button" id="current">Calendar</button></a>
                </tr>
                <tr >
                <a href="/assessments"> <button mat-raised-button type="submit" class="menu-button">Assessments</button></a>
                </tr>
                <tr>
                <a href="/dashboard"> <button mat-raised-button type="submit" class="menu-button">Dashboard</button></a>
                </tr>
            </table>
        </mat-sidenav-content>
    </mat-sidenav-container>


    <div class="content">
        <mat-card id="calendar">
            <span>Calendar here</span>

        </mat-card>
    </div>

    
  </main>

