
<mat-toolbar color="primary" class="banners">
    <mat-toolbar-row>
        <div><span>DCIT Scheduler</span></div>
        <div style="margin-left: auto;" ><span>Calendar</span></div>
        <div style="margin-left: auto;">
            <a href="/notifs" style="margin-left: auto;"><button mat-raised-button name="notifs" style="margin-right: 12px;">
                <mat-icon style="border-radius: 5px;">notifications</mat-icon>
            </button></a>
            <button mat-raised-button name="notifs"><mat-icon style="border-radius: 5px;">person</mat-icon></button>
        </div>
    </mat-toolbar-row>
    <!-- <mat-toolbar-row><h2 style="margin:auto">Calendar</h2></mat-toolbar-row> -->
    <mat-toolbar-row>
        <span>Welcome</span>
        <a href="/" style="margin-left: auto;"> <button mat-raised-button type="submit" style="background-color: red; color: whitesmoke;">Logout
            <mat-icon>logout</mat-icon>
        </button></a>
    </mat-toolbar-row>
</mat-toolbar>
  
<!--MENU SIDEBAR -->
<main>
    <mat-sidenav-container id="menu">
        <mat-sidenav mode="side" opened ></mat-sidenav>
        <mat-sidenav-content color="primary" style="width: 100%;" >
            <table id="menu-table">
                <tr>
                <a href="/schedule"> <button mat-raised-button type="submit" class="menu-button" id="current">Calendar</button></a>
                </tr>
                <tr >
                <a href="/assessments"> <button mat-raised-button type="submit" class="menu-button">Assessments</button></a>
                </tr>
                <tr>
                <a href="/dashboard"> <button mat-raised-button type="submit" class="menu-button">Dashboard</button></a>
                </tr>
            </table>
        </mat-sidenav-content>
    </mat-sidenav-container>
<!-- MAIN CONTENT -->

    <div class="content">
        <!-- <ng-container *ngTemplateOutlet=""></ng-container> -->
        <ejs-schedule id= "schedule">
            <mat-card id="tabs">
                <span>Different View Tabs here</span>
                <e-views style="display: inline-flex;">
                    <e-view option='Day' dateFormat='dd MMM' style="display: inline-flex;"></e-view>
                    <e-view option='Week' style="display: inline-flex;"></e-view>
                    <e-view option='Month' style="display: inline-flex;"></e-view>
                    <e-view option='MonthAgenda' style="display: inline-flex;"></e-view>
                </e-views>
                <e-header-rows>
                 <e-header-row option='Week'></e-header-row>
                 <e-header-row option='Date'></e-header-row>

                 
                </e-header-rows>
            </mat-card>

            <mat-card id="calendar">
                <span>Calendar here</span>


            </mat-card>
        </ejs-schedule>

    </div>

    
  </main>

